manifest {
    name = 'AliNe'
    author = 'Jacques Dainat'
    homePage = 'https://github.com/Juke34/daisy-chaining-AliNe'
    description = 'Example of how to daisy-chain the AliNe pipeline.'
    mainScript = 'daisy-chaining-aline.nf'
    nextflowVersion = '>=22.04.0'
    version = '1'
}

// default parameters
params {
    // to store general information about pipeline execution
    pipeline_report="pipeline_report"
    monochrome_logs = false
}

profiles {

    itrop {
        executor {
            name = 'slurm'
        }
        process {
            scratch = '/scratch-ib'
            clusterOptions = "--constraint=infiniband"
        }
        singularity.enabled = true
        // singularity.envWhitelist = '' // Comma separated list of environment variable names to be included in the container environment.
        includeConfig "$baseDir/config/softwares.config"
        includeConfig "$baseDir/config/ressources/hpc.config"
        scratch = '/scratch-ib'
    }

    debug { process.beforeScript = 'env' }

    docker {
        docker.enabled = true
        includeConfig "$baseDir/config/softwares.config"
        docker.runOptions='-u "$( id -u ):$( id -g )"'
    }

    singularity {
        singularity.enabled = true
        includeConfig "$baseDir/config/softwares.config"
    }
    local {
        includeConfig "$baseDir/config/ressources/local.config"
    }
}

resume = true

timeline {
    enabled = true
    file = "${params.pipeline_report}/execution_timeline_${new Date().format('yyyyMMddHHmmss')}.html"
}

report {
    enabled = true
    file = "${params.pipeline_report}/execution_report_${new Date().format('yyyyMMddHHmmss')}.html"
}

trace {
    enabled = true
    file = "${params.pipeline_report}/execution_trace_${new Date().format('yyyyMMddHHmmss')}.txt"
}

dag {
    enabled = true
    file = "${params.pipeline_report}/pipeline_dag.svg"
}
